---
- name: Creating {{ user_name }}
  ansible.builtin.user:
    name: "{{ user_name }}"
    state: present
- name: Include role for add SSH keys
  include_role:
    name: ansible-role-ssh_install_key
